
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #f0f2f5;
    font-family: Arial, sans-serif;
}


.container{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


.left{
    width: 50%;
    padding-left: 80px;
}

.logo{
    font-size: 60px;
    color: #1877f2;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

.tagline{
    font-size: 22px;
    width: 70%;
    margin-top: 10px;
}


.login-box{
    width: 350px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
    text-align: center;
}

.login-box input{
    width: 100%;
    padding: 14px;
    margin: 8px 0;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    font-size: 16px;
}


.login-btn{
    width: 100%;
    padding: 12px;
    background: #1877f2;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.login-btn:hover{
    background: #166fe5;
}

.forgot{
    display: block;
    margin: 12px 0;
    color: #1877f2;
    text-decoration: none;
    font-size: 14px;
}

hr{
    margin: 15px 0;
    border: 0.5px solid #dddfe2;
}

.create-btn{
    background: #42b72a;
    color: white;
    padding: 12px 16px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

.create-btn:hover{
    background: #36a420;
}


