<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

</head>
<body>
    <div class="row mt-3">
        <div class="col-5 card p-3">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h2>Product registration</h2>
                <hr>
                <input type="hidden" name="id" value="{{p.id}}">
                <input type="text" name="name" placeholder="enter product name" class="form-control" value="{{p.name}}">
                <br>
                <input type="text" name="price" placeholder="enter product price" class="form-control" value="{{p.price}}">
                <br>
                <input type="text" name="qty" placeholder="enter qty" class="form-control" value="{{p.qty}}">
                <br>
                {% if p %}
                <img src="/media/{{p.image}}" alt="" width="50px" height="50px">
                {% endif %}
                <br>
                <br>
                <input type="file" name="image" class="form-control" value="{{p.image}}">
                <br>
                <input type="submit" class="btn btn-success">
                <input type="reset" class="btn btn-danger">
            </form>
        </div>

        <div class="col-1">

        </div>

        <div class="col-6 card p-3">
                <table class="table">
                    <h3>Product Details</h3>
                    <hr>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Qty</th>
                        <th>Image</th>
                        <th colspan="2">Action</th>
                    </tr>

                    {% for p in prod %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{p.name}}</td>
                        <td>{{p.price}}</td>
                        <td>{{p.qty}}</td>
                        <td><img src="/media/{{p.image}}" alt="{{p.image}}" width="50px" height="50px"></td>
                        <td><a href="{%url 'delete'%}?id={{p.id}}" class="btn btn-danger">Delete</a></td>
                        <td><a href="{%url 'edit'%}?id={{p.id}}" class="btn btn-primary">Edit</a></td>
                    </tr>
                    {% endfor %}
                </table>
        </div>
    </div>
</body>
</html>