body {
    background: #f8f2e6;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.card {
    width: 1000px;
    height: auto;
    background: #0f0f0f;
    border-radius: 25px;
    display: flex;
    overflow: hidden;
}

/* LEFT IMAGE */
.left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* RIGHT SIDE */
.right {
    width: 50%;
    padding: 45px 50px;
    color: white;
}

.title {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
}

.title span {
    color: #c89b3c;
}

.subtitle {
    margin-top: 8px;
    font-size: 16px;
    margin-bottom: 25px;
    text-align: left;
}

/* Two boxes in a row */
.row-2 {
    display: flex;
    gap: 20px;
}

label {
    font-size: 13px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    margin-bottom: 18px;
    border-radius: 8px;
    border: none;
    background: #e8efff;
    font-size: 15px;
}

/* Password + eye icon */
.password-field {
    position: relative;
}

.password-field .eye {
    position: absolute;
    right: 15px;
    top: 13px;
    cursor: pointer;
}

/* Buttons */
.btn-login {
    width: 100%;
    padding: 14px;
    border: none;
    background: white;
    border-radius: 50px;
    font-size: 17px;
    cursor: pointer;
    color: #000;
    margin-bottom: 18px;
}

.or {
    text-align: center;
    margin: 10px 0;
}

.btn-google {
    width: 100%;
    padding: 14px;
    border-radius: 50px;
    border: none;
    background: #2d2d2d;
    font-size: 17px;
    cursor: pointer;
    color: #fff;
}

.bottom-text {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
}

.bottom-text a {
    color: #c89b3c;
    font-weight: 600;
    text-decoration: none;
}
