*{
    padding: 0;
    margin: 0;
}

body{
    background: #EEAECA;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 61%, rgba(148, 187, 233, 1) 98%);
    width: 100%;
    height: 100vh;
    
}

header{
    background-color: black;
    width: 100%;
    height: 15%;
    
}

header img{
    height: 100%;
    align-items: center;
    justify-content: center;
    width: 100px;
    display: flex;
    float: left;
    

}

header h3{
    text-align: right;
    align-items: center;
    justify-content: center;
    display: flex;
    color: aliceblue;
    width: 80%;
    height: 100%;
    float: right;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    text-decoration:underline solid white;
}

footer{
    color: aliceblue;
    justify-content: center;
    height: 15%;
    display: flex;
    width: 100%;
    align-items: center;
}