*{
    padding: 0;
    margin: 0;
}

body{
    background: #EEAECA;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 61%, rgba(148, 187, 233, 1) 98%);
    width: 100%;
    height: 100vh;
}

header{
    background-color: black;
    width: 100%;
    height: 15%;
}

header img{
    height: 100%;
    width: 100px;
    float: left;
}

header h3{
    text-align: center;
    color: aliceblue;
    width: 80%;
    height: 100%;
    float: right;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    color: aliceblue;
    justify-content: center;
    align-items: center;
    height: 15%;
    display: flex;
    width: 100%;
}

.main{
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 100%;
    display: flex;
}

.login{
    height: 350px;
    width: 450px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #ffe4f0;
    border-radius: 5px;
    box-shadow: 2px 2px;
}

.login table td{
    padding: 10px;
    font-size: 16px;
}

.textfield{
    width: 180px;
    height: 25px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
}

.btn{
    width: 80px;
    height: 32px;
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}
