<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 align="center">emp details</h1>
    <table align="center" border="1" cellspacing="10" cellpadding="10">
    
        <tr>
            <th>id</th>
            <th>name</th>
            <th>age</th>
            <th>salary</th>
            <th>dept</th>
            <th colspan="2">action</th>
        </tr>

        {% for e in emps %}
        <tr>
            <td>{{e.id}}</td>
            <td>{{e.name}}</td>
            <td>{{e.age}}</td>
            <td>{{e.salary}}</td>
            <td>{{e.dept}}</td>
            <td><a href="{% url 'delete'%}?id={{e.id}}">delete</a></td>
            <td><a href="{% url 'edit'%}?id={{e.id}}">edit</a></td>
        </tr>
      {%endfor%}
    </table>
</body>
</html>